<!DOCTYPE html>
<html lang="en">
  <head>

      <!-- Meta -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <!-- EON -->
      <link type="text/css" rel="stylesheet" href="lib/eon.css">
      <script src="lib/eon.js"></script>

      <link rel="shortcut icon" href="favicon.ico">
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
      <!-- Global CSS -->
      <link rel="stylesheet" href="static/assets/plugins/bootstrap/css/bootstrap.min.css">
      <!-- Plugins CSS -->
      <link rel="stylesheet" href="static/assets/plugins/font-awesome/css/font-awesome.css">
      <link rel="stylesheet" href="static/assets/plugins/flexslider/flexslider.css">
      <!-- Theme CSS -->
      <link id="theme-style" rel="stylesheet" href="static/assets/css/styles.css">
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

      <!-- original -->

      <link type="text/css" rel="stylesheet" href="static/index.css">
      <link href='http://fonts.googleapis.com/css?family=Ropa+Sans|Open+Sans:400,700' rel='stylesheet' type='text/css'>
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/tomorrow.min.css"></link>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>

    </head>

    <body class="home-page">
        <!-- ******HEADER****** -->
        <header id="header" class="header">
            <div class="container">
                <h1 class="logo">
                    <a href="index.html"><span class="text logo">EON</span></a>
                </h1><!--//logo-->
                <nav class="main-nav navbar-right" role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button><!--//nav-toggle-->
                    </div><!--//navbar-header-->
                    <div id="navbar-collapse" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active nav-item"><a href="index.html">Home</a></li>
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Charts <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="./examples/chart/spline.html">Spline</a></li>
                                    <li><a href="./examples/chart/bar.html">Bar</a></li>
                                    <li><a href="./examples/chart/donut.html">Donut</a></li>
                                    <li><a href="./examples/chart/gauge.html">Gauge</a></li>
                                    <li><a href="./examples/chart/transform.html">Transform</a></li>
                                </ul>
                            </li><!--//dropdown-->
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Maps <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="./examples/map/index.html">One Marker</a></li>
                                    <li><a href="./examples/map/extra.html">Multiple Markers</a></li>
                                    <li><a href="./examples/map/flight.html">Planes</a></li>
                                    <li><a href="./examples/map/bus.html">Buses</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="http://www.pubnub.com/docs/javascript/javascript-sdk.html">PubNub</a></li>
                            <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="https://github.com/pubnub/eon">Github</a></li>
                        </ul><!--//nav-->
                    </div><!--//navabr-collapse-->
                </nav><!--//main-nav-->
            </div><!--//container-->
        </header><!--//header-->

    {{ content }}

    <!-- Javascript -->
    <script type="text/javascript" src="static/assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="static/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="static/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="static/assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="static/assets/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="static/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="static/assets/js/main.js"></script>


</body>
</html>